@charset "utf-8";
#loginsection{
    margin-bottom: 120px;
}
.spbg{
    background-image: url(../images/spimg.png);
    background-repeat: no-repeat;
    display: inline-block;
}
#login_inner{
    max-width: 460px;
    margin: 0 auto;
}
#login_inner h2{
    text-align: center;
    font-size: 36px;
    margin: 60px 0;
}
#login_inner #loginbox p input{
    width: 100%;
    padding: 18px 12px;
    margin-bottom: 20px;
    border: 2px solid #b8b7b7;
    border-radius: 2px;
    transition: all 0.3s;
}
#login_inner #loginbox p input:focus{
    outline: none !important;
    border: 2px solid #07f;
}
#login_inner #loginbox p input::placeholder{
    color: #b8b7b7;
    font-size: 16px;
}
#login_inner #loginbox p #loginkeep{
    display: none;
}
#login_inner #loginbox p label{
    display: inline-block;
    height: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}
#login_inner #loginbox p label span{
    width: 18px;
    height: 18px;
    background-position: -2px -2px;
    margin-right: 10px;
    vertical-align: bottom;
}
#login_inner #loginbox p input:checked+label > span{
    background-position: -22px -2px;
}
#login_inner #loginbox p button{
    width: 100%;
    border-radius: 2px;
    background: #1428a0;
    font-size: 18px;
    padding: 18px 12px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.15s linear;
}
#login_inner #loginbox p button:hover{
    background: #07f;
}
#login_inner #signfind{
    font-size: 12px;
    margin-bottom: 60px;
}
#login_inner #signfind a{
    margin-right: 8px;
    transition: all 0.15s linear;
}
#login_inner #signfind a:hover{
    color: #07f;
}
#login_inner #login_another ul li{
    margin-bottom: 10px;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    color: #737881;
}
#login_inner #login_another ul li a{
    width: 100%;
    height: 60px;
    border: 2px solid #b8b7b7;
    border-radius: 2px;
    transition: all 0.2s linear;
    line-height: 60px;
}
#login_inner #login_another ul .facebook,
#login_inner #login_another ul .google,
#login_inner #login_another ul .naver,
#login_inner #login_another ul .kakao{
    position: relative;
}
#login_inner #login_another ul .facebook a::after{
    content: '';
    background: url(../images/spimg_facebook_13.png)no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
}
#login_inner #login_another ul .google a::after{
    content: '';
    background: url(../images/spimg_google.png)no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
}
#login_inner #login_another ul .naver a::after{
    content: '';
    background: url(../images/spimg_naver_09.png)no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
}
#login_inner #login_another ul .kakao a::after{
    content: '';
    background: url(../images/spimg_kakao_11.png)no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
}
#login_inner #login_another ul li:hover a{
    border: 2px solid #b8b7b7;
    background-color: #b8b7b7;
}


